/*Aplicando estilos pero con flex*/
/*Importando fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0;
}
body{
    background-color: #F9EFDB;
}
/*-------Styles header-------*/
header {
    display: flex;
    flex-direction: row;
    background-color: #D4F7EF;
    padding: 1.5rem;
    justify-content: space-between;
}
.logo-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 32px;
    border: 2px solid white;
    padding: .5rem;
    margin: 0.5rem;
}
.logo-content > h1{
    text-align: center;
    font-family: 'Crimson Pro';
    font-size: 14px;
    text-transform: uppercase;
}
/*Styles menu options*/
.opc-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: 0.5rem;
}
.opc-content > ol{
    font-family: 'Monserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 1rem;
    margin: 0.3rem;
    justify-content: center;
    align-items: center;
}
/*Actions to the header*/
.opc-content >ol:hover{
    text-decoration: underline;
}
/*-------Main contents styles-------*/
main {
   display: flex;
   flex-direction: row;
 }
.text-container{
    height: 20rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 11rem 1rem;
} 
.text-container > h1{
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-transform: capitalize;
    padding: 0.5rem;
    margin: 0.5rem;
}
.text-container > p{
    font-family: 'Monserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: start;
    padding: 0.5rem;
    margin: 0.5rem;
}
.text-container > button{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    font-family: 'Monserrat';
    font-size: 18px;
    text-align: center;
}
#arrow-text{
    padding-left: 1rem;
    font-size: 24px;
    font-weight: bold;
}
/* img-content style*/
.img-content{
    display: flex;
    flex-direction: column;
}
.img-content > img{
    box-sizing: border-box;
    height: 555px;
    width: 737px;
    margin-top: 4rem;
    object-fit: contain;
}
/*Container where is the pfp and info-desing*/
.desing-content{
    width: 330px;
    height: 170px;
    padding: auto;
    background-color: #80B6AA;
    position: relative;
    transform: translate(14rem, -2.5rem);
}
.desing-content > img{
    margin: 1rem 2rem;
    height: 50px;
    width: 50px;
    border: 0.1rem solid black;
    border-radius: 50px;
    object-fit: cover;
    object-position: center top;
}
.text-desing-content{
    width: 6rem;
    font-family: 'Monserrat';
    padding: 0.3rem;
    text-align: start;
    position: relative;
    transform: translate(6rem,-4.3rem);

}
.text-desing-content > h6{
    font-size: 14px;
    color: black;
}
.text-desing-content > p{
    font-size: 12px;
    color: #828282;
}
#info-desing{
    display: flex;
    align-content: center;
    justify-content: center;
    transform: translate(1.5rem, -4rem);
    width: 287px;
    height: 62px;
    padding: 0.3rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    
}
#info-desing > h1{
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: normal;
}

/*------Footer styles------*/
footer{
    background-color: #D4F7EF;
    padding: 1.5rem;
    margin-top: 6rem;
    text-align: center;
    font-size: 14px;
    font-family: 'Monserrat', Arial, Helvetica, sans-serif;
    color: #BDBDBD;
}

/*link: propiedad cuando el link no ha sido visitado*/
.links:link{
    color:#BDBDBD;
}

/*visited: propiedad cuando el link ha sido visitado*/
.links:visited{
    color: #B9AA87;
}
/*hover: propiedad cuando se pasa el cursor*/
.links:hover{
    color: #80B6AA;
}
/*Style for mobile*/
/* Media queries para estilos móviles */
@media screen and (max-width: 601px) {

}