/*Estilos de la pagina recipe-page*/
/*Importando fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
}
body{
    background-color: #F9EFDB;
}
/*-------Styles header-------*/
header{
    background-color: #D4F7EF;
    padding: 1.5rem;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 1rem;
}
.title-container > h1{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin: 0.5rem;
}
.title-text{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
    color: #4F4F4F;
    height: 51px;
    width: 592px;
    margin: 0.5rem 2rem;
}
.title-text >img{
    width: 13px;
    height: 8px;
    margin: 0.5rem;
}

/*-----Main content style-----*/
/*banner style*/
.banner{
    display: flex;
    border: 1px solid black;
    padding: 1rem;
    margin: 1.5rem 2.5rem;
    align-items: center;
    justify-content: center;
}
.banner > img{
    box-sizing: border-box;
    width: 969px;
    height: 470px;
    object-fit: contain;
}
/*recipe content style*/
.recipe-content{
    border: 1px solid orangered;
    margin: 1.5rem 2.5rem;
}
/*Box ingredients*/
.container-1{
    border: 2px solid red;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.recipe-listingredients{
    padding: 1.5rem;
    margin: 0.5rem 3rem;
    border: 1px solid black; 
    width: 581px;   
}
.recipe{
    border: 1px solid blue;
    padding: auto;
    margin: 2rem 0rem;  
}
.recipe > h4{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333333;
    font-style: italic;
    display: flex;
    flex-direction: row;
}
.checkboxs{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 0.5rem 0rem;
}
.checkboxs > p{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    margin-left: 0.5rem;
}

/*card container times styles*/
.container-times{
    box-sizing: border-box;
    width: 216px;
    height: 367px;
    background-color: #80B6AA;
    padding: 0.5rem;
    margin: 1.5rem;
    margin-right: 4.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 15px 1px #504f4f;
}
.icon-ctimes{
    box-sizing: border-box;
    width: 34px;
    height: 34px;
}
.yields, .times{
    border: 1px solid blue;
    margin: 1rem 1rem;
}
.row-content{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
}
.data-times{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

}
.data-times > h5{
    font-size: 10px;
    margin: 0.1rem;
}
.data-times > h6{
    font-size: 14px;
    margin: 0.1rem;
}
/*Styles for both titles h2 of instruction-container and recipe-listingredients*/
h2{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333333;

}
/*box instruccions*/
.container-2{
    border: 2px solid red;
    margin: 1rem 2rem;   
}
.instruction-container{
    width: 581px;
    padding: 1.5rem;
    margin: 0.5rem 3rem;
    border: 1px solid black;
}
.instru-num{
    width: 528px;
    border: 1px solid green;
    padding: 1rem;
    margin: 1rem -1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}
.instru-num > img{
    box-sizing: border-box;
    height: 36px;
    width: 36px;
}
.instru-num > p{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0.3rem;
}
/*style of source container*/
.source-container{
    border: 1px solid green;
    width: 528px;
    padding: 0.5rem;
    margin: 1rem 4rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #BDBDBD;
}

/*------Footer styles------*/
footer {
    background-color: #D4F7EF;
    padding: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #BDBDBD;
}

/*link: propiedad cuando el link no ha sido visitado*/
.links:link {
    color: #BDBDBD;
}

/*visited: propiedad cuando el link ha sido visitado*/
.links:visited {
    color: #B9AA87;
}

/*hover: propiedad cuando se pasa el cursor*/
.links:hover {
    color: #80B6AA;
}